*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    .nav-color {background-color: #D8D9CF;}
    .nav-select {background-color: #EDEDED;}
    .main-color {background: aqua;}
    .colorrr {background-color: red;}
}